/* This is all you. */

h1 {
    @apply text-2xl md:text-3xl font-light tracking-wider uppercase mb-8
}
h2 {
    @apply text-2xl md:text-3xl font-light tracking-wider uppercase mb-8
}
h3 {
    @apply text-lg font-medium text-white
}

#contact {
    @apply max-w-7xl mx-auto px-8 items-center mt-8 mb-12
}

#timeline {
    @apply max-w-7xl mx-auto px-8 items-center mt-8 mb-12
}

#flek {
    @apply max-w-7xl mx-auto px-8 items-center pt-8 pb-12
}
#projects {
    @apply max-w-7xl mx-auto px-8 items-center mt-8 mb-12
}
#content {
    @apply max-w-7xl mx-auto px-8 items-center mt-8 mb-12
}

#content p {
    @apply mb-4;
  }

#content a {
    @apply text-yellow-500;
}
#content strong {
    @apply text-yellow-500;
    }
#content ul {
    list-style: disc;
    margin-bottom: 30px;
    margin-top:10px;
}

#content li {
    @apply leading-relaxed mb-1
}

.hero-photo {
    @apply bg-cover bg-center h-80 md:h-128 mb-16
}

.gallery {
    @apply max-w-7xl mx-auto my-8 grid grid-cols-2 md:grid-cols-3 gap-0
}


.more {
    @apply my-4 flex items-center text-yellow-500 text-base cursor-pointer
}








::selection {
    @apply bg-neutral-700
  }

.slide-in-left {
  -webkit-animation: slide-in-left 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) both;
  animation: slide-in-left 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) both;
}

.slide-in-right {
  -webkit-animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-bottom {
  -webkit-animation: slide-in-bottom 2s both;
  animation: slide-in-bottom 2s both;
}

.slide-in-bottom-delay {
  -webkit-animation: slide-in-bottom 2s 0.5s both;
  animation: slide-in-bottom 2s 0.5s both;
}

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(400px);
    transform: translateY(400px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(400px);
    transform: translateY(400px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-bottom-delay {
  0% {
    -webkit-transform: translateY(400px);
    transform: translateY(400px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom-delay {
  0% {
    -webkit-transform: translateY(400px);
    transform: translateY(400px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}


video {
  /** Simulationg background-size: cover */
  object-fit: cover;
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
}

.video-wrapper {
  /* Telling our absolute positioned video to
    be relative to this element */
  position: relative;
  z-index: 0;
  width: 100%;
  height: 500px;

  /* Will not allow the video to overflow the
    container */
  overflow: hidden;

  /* Centering the container's content vertically
    and horizontally */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-text {
  position: relative;
  color: white;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
}


/*  */

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  text-align: center;
  color: black;
}

nav {
  position: fixed;
  top: -52px;
  width: 100%;
  height: 52px;
  background-color: #111111;
  color: #ffffff;
  transition: 0.3s;
  opacity: 0;
}

.displayNav {
  top: 0px;
  transition: 0.3s;
  opacity: 1;
  z-index: 50;
}

.swiper-pagination {
  z-index: 50 !important;
  top: 0 !important;
  height: 0 !important;
}

.swiper-button-prev {
  color: #FFF !important;

}

.swiper-button-prev:after {
  font-size: 18px !important
}

.swiper-button-next {
  color: #FFF !important;
  z-index: 60px;
}

.swiper-button-next:after {
  font-size: 18px !important
}

.swiper-pagination-bullet {
  top: -20px;
  width: 12px !important;
  height: 12px !important;
  background: rgba(255, 255, 255, 50) !important;

}

.swiper-pagination-bullet-active {
  background: rgba(255, 255, 255, 50)
}



  .masonry {
    column-count: 4;
    column-gap: 1rem;
  }

  .masonry > a {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 1rem;
    break-inside: avoid;
  }

  .masonry > a > img {
    grid-row: 1 / -1;
    grid-column: 1;
  }

  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 48px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #eee;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #eee;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }

  [x-cloak] {
    display: none;
  }
